<h1 style="text-align:center;">Hello Kevin!</h1>
<p>
We're riding the Rails now...yeaaaaaah baby :)<br /><br />
It is now <%= @time %><br /><br />Time to say
<%= link_to "Goodbye", say_goodbye_path %>
</p>